.board-container {
  padding: 1rem;
}

.board-section {
  border: 0px solid #FFFFFF;
  padding: 1rem;
}

.board-tile-input {
  border: 1px solid #dadada;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 28px;
}
.board-tile-input[value=""] {
  background-color: #888888;
}
.board-tile-input:enabled:hover {
  border: 1px solid #ff5b5b;
}

.board-tile-selected {
  border: 1px solid #FFFFFF;
  height: 50px;
  width: 50px;
  text-align: center;
  font-size: 28px;
  background-color: aqua;
}
