.controls-container {
  border-top: 2px solid #272727;
  
  padding: 2rem 2rem;

  display: flex;
  flex-direction: row;
  column-gap: 20px;

  font-size: 16px;
}

.controls-section1 {
  padding: 6px 20px 6px 20px;
  
  border: 1px solid #d3d3d3;
  border-radius: 6px;

  width: 20%;
  flex: 0 0 20%;

  text-align: center;
}

.controls-section2 {
  padding: 6px 12px 6px 12px;

  border: 1px solid #d3d3d3;
  border-radius: 6px;

  width: 80%;
  flex: 1 1 80%;

  text-align: left;
}

.controls-combobox {
  font-size: 14px;
  min-width: 50px;
  vertical-align: middle;
}

.controls-combobox-label {
  line-height: 30px;
  padding-right: 10px;
}

.controls-container label {
  vertical-align: middle;
}

.controls-section-title {
  font-weight: bold;
  margin-bottom: 4px;
}

.controls-button {
  width: 100%;
  min-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

